.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  width: 100%;
  max-width:initial;
}
.container > .row {
  margin: 0;
}
.container > .row > .col {
  padding: 0;
}

#landing-page-image {
  height: 50vh;
  width: 100vw;
  margin-bottom: -3px
}

#SEP-intro {
  background-color: black;
  width: "100vw";
  height: 50vh;
  padding: 20px;
  font-size: 1.2em;
}

#our-mission {
  text-align: center;
  font: "NFadeUnito Sans, sans-serif";
  font-size: 1.2em;
  background-color: black;
  color: #5CD7FD;
  font-weight: 400;
  height: 100vh;
}

#our-mission p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.4em;
  color: white;
}

#our-resources {
  text-align: center;
  font: "NFadeUnito Sans, sans-serif";
  font-size: 1.2em;
  background-color: black;
  /* color: #5CD7FD; */
  color: white;
  font-weight: 400;
  height: auto;
}

#our-resources img {
  width: 40%;
}

#particles-js {
}

.department-section {
  padding: 20px;
  margin-bottom: 20px;
}

.department-section img {
  margin: 10px;
}

.department-section h1 {
  margin: 0
}

@media only screen and (min-width: 640px) {
    /* tablets and desktop */
    #landing-page-image {
      height: 100vh;
      width: 50vw;
      margin-bottom: -3px;
      margin: auto;
      object-fit: cover;
      position: relative;
    }

    #SEP-intro {
      background-color: black;
      width: "100vw";
      height: 100vh;
      padding: 40px;
      font-size: 1em;
    }
}

@media only screen and (min-width: 900px) {
    /* tablets and desktop */
    #landing-page-image {
      height: 100vh;
      width: 50vw;
      margin-bottom: -3px;
      margin: auto;
      object-fit: cover;
      position: relative;
    }

    #SEP-intro {
      background-color: black;
      width: "100vw";
      height: 100vh;
      padding: 40px;
      font-size: 1.5em;
    }
}

@media only screen and (min-width: 1200px) {
    /* tablets and desktop */
    #landing-page-image {
      height: 100vh;
      width: 50vw;
      margin-bottom: -3px;
      margin: auto;
      object-fit: cover;
      position: relative;
    }

    #SEP-intro {
      background-color: black;
      width: "100vw";
      height: 100vh;
      padding: 40px;
      font-size: 3.5em;
    }

    #our-mission {
      margin-top: -3px;
      font-size: 2em;
      padding-top: 40px;
    }
}
